@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins' !important;
}
.text-theme-primary{
    color: #5167F6 !important;
}
.bg-theme-primary{
    background: #5167F6 !important;
}
.h-text-theme-primary{
    transition: 0.3s ease-in-out !important;
}
.h-text-theme-primary:hover{
    color: #5167F6 !important;
}
.custom-h-dropdown{
    padding: 0 !important;
    border: 1px solid #ddd !important;
}
.custom-h-dropdown>li>a{
    line-height: 3 !important;
    padding: 0 20px !important;
    border-bottom: 1px solid #ddd !important;
    transition: 0.3s ease-in-out !important;
}
.custom-h-dropdown>li>a:hover{
    background: #5167F6 !important;
    color: white !important;
}
.cus-slider-btn-prev{
    transform: translate(-550px, 290px);
    height: 45px !important; padding: 10px !important;
    max-width: 70px; opacity: 100% !important;
}
.cus-slider-btn-next{
    transform: translate(-1120px, 290px); 
    height: 45px !important; padding: 10px !important;
    max-width: 70px; opacity: 100% !important;
}
.f-social-icon > a{
    transition: 0.3s ease-in-out;
}
.f-social-icon > a:hover{
    background: #5167F6 !important;
}
@media(max-width: 767px){
    .cus-container{
        max-width: 700px !important;
    }
    .cus-social-form{
        flex-basis: 100% !important;
    }
}
.style-card::before{
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: transparent;
    pointer-events: none;
    border: 3px solid #5167F6;
    border-radius: 14px;
    top: -2px;
    left: -2px;
    visibility: hidden;
}
.style-card:hover::before,
.style-card.active::before{
    visibility: visible;
}
.style-card::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 27px;
    background: url(../images/check-mark.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(30%, -30%);
    display: none;
}
.style-card:hover::after,
.style-card.active::after{
    display: block;
}
@media(max-width: 1345px){
    .cus-slider-btn-prev{
        transform: translate(-40vw, 290px);
    }
    .cus-slider-btn-next{
        transform: translate(-82vw, 290px);
    }
}
@media(max-width: 1135px){
    .cus-slider-btn-next{
        transform: translate(-80vw, 290px);
    }
    .hero-title{
        font-size: 2.9rem !important;
    }
    .choose-us-title{
        font-size: 3.9rem !important;
    }
    .our-examples-title{
        font-size: 3.2rem !important;
    }
}
@media(max-width: 1020px){
    .cus-slider-btn-next{
        transform: translate(-78vw, 290px);
    }
    .hero-title{
        font-size: 2.5rem !important;
    }
    .choose-us-title{
        font-size: 3.5rem !important;
    }
    .our-examples-title{
        font-size: 2.8rem !important;
    }
}
@media(max-width: 930px){
    .cus-slider-btn-next{
        top: calc(100% + 20px);
        right: calc(50% - 70px);
        transform: translate(50%, 0);
    }
    .cus-slider-btn-prev{
        top: calc(100% + 20px);
        left: calc(50% - 70px);
        transform: translate(-50%, 0);
    }
    .choose-us-title{
        font-size: 3.2rem !important;
    }
}
@media(max-width: 767px){
    .choose-us-header{
        text-align: center;
    }
    .our-examples-header{
        text-align: center;
    }
    .our-examples-title{
        font-size: 2.6rem !important;
    }
    .choose-us-title{
        font-size: 3.0rem !important;
    }
}
@media(max-width: 767px){
    .cus-container{
        max-width: 700px !important;
    }
    .cus-social-form{
        flex-basis: 100% !important;
    }
}
.container-xxl{
    width: 100%;
    flex-grow: 1;
    max-width: 1440px !important;
}
@media(max-width: 380px){
    .cus-btn-padding>a{
        padding: 12px 20px !important;
        font-size: 16px !important;
    }
    .cus-social-form{
        flex-wrap: wrap;
        justify-content: center;
    }
}